# Portainer stack variables
REGISTRY_NS=replace_with_registry_number
IMAGE_TAG=1.0.1beta
ANYLOGIC_API_KEY=replace_with_anylogic_cloud_api_key
ANYLOGIC_MODEL_ID=replace_with_anylogic_model_id
DEFAULT_CONFIG=tonowaste.json
UVICORN_WORKERS=1
UVICORN_LOG_LEVEL=info
